* {
    padding: 0;
    margin: 0;
}

.encabezado {
    display: flex;
    background-color: #2b3236;
    padding: 40px 60px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 8px solid #1c669f;
}

.titulo {
    display: flex;
    gap: 8px;
    color: #fff;
    font-size: 24px;
}

.titulo2 {
    color: #1c669f;
}

.navegacion {
    display: flex;
    gap: 40px;
    font-size: 32px;
}

.navegacion a {
    color: white;
    text-decoration: none;
}

.navegacion a.destacado {
    color: #1c669f;
}

.suscribete {
    display: flex;
    background-color: #2b3236;
    align-items: center;
    padding: 50px 60px;
    justify-content: space-around;
}

.suscribete-texto {
    color: #fff;
    font-size: 22px;
}

.btn-suscribirse {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-suscribirse input {
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 250px;
}

.btn-suscribirse button {
    background-color: #e64a19;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}